<!DOCTYPE html>
<html>
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="shortcut icon" type="image/x-icon" href="https://findicons.com/files/icons/1197/agua/128/movies.png" />
    <title>GMDB-Exploratory Analytics</title>
    <link rel="stylesheet" href="../public/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/lib/css/keen-dashboards.css">
    <link rel="stylesheet" href="../public/lib/css/dc.css">
    <link rel="stylesheet" href="../public/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">


</head>

<body class="application">
    <div id="loading"> <img src="https://media0.giphy.com/media/bTR5IBkrWqXO8/source.gif"></div>
    <div id="blocks">

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="./">Home</a>


                </div>
                <div class="navbar-header">
                    <a href="https://globalmoviedb.herokuapp.com/display">Find a Movie</a>
                </div>
                <div class="navbar-header">
                    <a href="https://globalmoviedb.herokuapp.com/dashboard">Dashboard</a>
                </div>

                <div class="navbar-header">
                    <a href="https://globalmoviedb.herokuapp.com/analytics ">Exploratory Analytics</a>
                </div>
                <div class="navbar-header ">
                    <a href="https://globalmoviedb.herokuapp.com/#footer1 ">About Us</a>
                </div>
            </div>
        </div>

        <div id="outer " class="container-fluid ">

            <div class="row ">


                <!-- Total Gross by Genre -->
                <div class="col-lg-4 ">
                    <div class="chart-wrapper ">
                        <div class="chart-title ">
                            Total Gross by Genre
                        </div>
                        <div class="chart-stage ">
                            <div id="funding-by-genre-row-chart "></div>
                        </div>
                    </div>
                </div>



                <!--  Highest Rated Movie on IMDB -->
                <div class="col-lg-4 ">
                    <div class="chart-wrapper ">
                        <div class="chart-title ">
                            Highest Rated Movie on IMDB</div>
                        <div class="chart-stage ">
                            <div id="highest-rated-chart "></div>
                        </div>
                    </div>
                </div>



                <!-- Most Expensive Movie -->
                <div class="col-lg-4 ">
                    <div class="chart-wrapper ">
                        <div class="chart-title ">
                            Most Expensive Movie </div>
                        <div class="chart-stage ">
                            <div id="most-expensive-pie-chart "></div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Movie Profit Change Over Time -->
            <div class="col-lg-6 ">
                <div class="chart-wrapper ">
                    <div class="chart-title ">
                        Movie Profit Change Over Time</div>
                    <div class="chart-stage ">
                        <div id="time-line-chart "></div>
                    </div>
                </div>
            </div>



            <!-- Movie Budget Change Over Time -->
            <div class="col-lg-6 ">
                <div class="chart-wrapper ">
                    <div class="chart-title ">
                        Movie Budget Change Over Time</div>
                    <div class="chart-stage ">
                        <div id="num-movies-per-year "></div>
                    </div>
                </div>
            </div>

        </div>
    </div>






    <script src="../public/lib/js/jquery.min.js "></script>
    <script src="../public/lib/js/bootstrap.min.js "></script>
    <script src="../public/lib/js/crossfilter.js "></script>
    <script src="../public/lib/js/d3.js "></script>
    <script src="../public/lib/js/dc.js "></script>
    <script src="../public/lib/js/queue.js "></script>

    <script src="../public/lib/js/keen.min.js "></script>
    <script src="../public/js/graph.js "></script>

</body>

</html>