<html lang="en-US">
    <head>
        That movie is not in our Database
    </head>
    <body background ="https://www.thesprucepets.com/thmb/xm8lZgqUC2nrP2dGDQm6NDmF3nA=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/27579211_1592220587499910_4895961142016344064_n-5b353a8dc9e77c003795239d.jpg">
        
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <button id="myButton" class="float-left submit-button" >Click here to go back home</button>

                <button id="myDisplay" class="float-left submit-button" >Click here to add what you are looking for</button>
                <script type="text/javascript">
                    document.getElementById("myButton").onclick = function () {
                        location.href = "http://localhost:3000";
                    };
                    document.getElementById("myDisplay").onclick = function () {
                        location.href = "http://localhost:3000/addmovie";
                    };
                </script>
            </ul>
        </div>
        
    </body>
</html>