<html lang="en-US">
    
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <style>
         body {
                    background-image: url("https://www.realpenguin.com/pics/259_16720686619477112321506439587dc2f3e74df8dbe288c13c75a608c3938.jpg");
                    background-color: #cccccc;
                    color: white;
                }
        
    </style>
    <body class="wrapper">
        <div class="container">
            <center><h1>Update the details of a Movie</h1></center>
            <form action="updatemovie" method="POST">
                <div class="form-group">
                    <label for="moviename">Movie Name</label>
                    <input type="text" required class="form-control" id="movieName" name="movieName">
                </div>
                <div class="form-group">
                    <label for="Genre">Genre</label>
                    <input type="text"  class="form-control" id="genre" name="genre">
                </div>
                <div class="form-group">
                    <label for="Rating">Rating</label>
                    <input type="number"  class="form-control" id="rating" name="rating" min="0" max="10" step=".1">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </body>
</html>